body {
  margin:0;
  padding:0;
}
#box {
  margin-top: 10px;
  margin-left: 10px;
  height:100px;
  width:100px;
  border:2px solid;
  display:flex;
  align-items: center;
  justify-content: center;
}
